body {
  background: #1D1145;
}

.header{
  margin-left: 20%;
  margin-top:30%;
}

.landing-page-img {
  width:75%;
}


.full {
  height: 60vh;
}

.custom{
  margin-top: 50%;
}

.box-bg{
  background: url("images/Box1.svg") !important;
  z-index: 200;
}