body {
  background: #1D1145;
}

.header{
  margin-left: 20%;
  margin-top:30%;
}

.landing-page-img {
  width:75%;
}


.full {
  height: 60vh;
}

.custom{
  margin-top: 50%;
}

.box-bg{
  margin-top: 20vh;
  background: url("images/Box1.svg") no-repeat center  center !important;
  width:100%;
  height:120vh;
  position: relative;
  bottom:-100px;
}

.margin{
  margin-top: 30vh;
}

