

.btn-box {
  margin-top:5rem;
  width:100%;
}

.project-box {
  overflow: hidden;
  text-align: center;
  background:#ffffff;
  color: black;
  margin:20px;
  border-radius:20px
}

.test-one{
  width:1000px;
  background:white;
  border-radius: 20px;
  color: black;
  float: left;
  text-align: center;
  margin:30px;
}