.noteDiv > .removeNote {
    color: #64222f;
    border: 1px solid #64222f;
    border-radius: 3px;;
    padding: 3px;
    margin-top:10px;
    cursor: pointer;
    float: left;
  }
  
  .noteDiv > .removeNote:hover {
    color: #ff0000;
    border: 1px solid #ff0000;
  }

  .cust-input{
    width:70%;
    margin-top:10px;
    margin-bottom:10px;
  }

